torch==2.3.0
torchvision==0.18.0
fastapi==0.111.0
uvicorn==0.30.0
streamlit==1.35.0
grad-cam==1.4.8
pillow==10.3.0
scikit-learn==1.5.0
numpy==1.26.4
requests==2.32.0
python-multipart==0.0.9
matplotlib==3.9.0
h5py==3.11.0